@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --black: #050605;
  --gray: #40494f;
  --white: #eeefeb;

  --font-small: 12px;
  --font-medium: 20px;
  --font-large: 42px;

  --font-family: "Outfit", sans-serif;
}

body {
  font-family: var(--font-family);
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
}
main {
  display: flex;
  justify-content: center;
}
.sidebar {
  flex: 1;
  border: 5px solid var(--gray);
  height: 100vh;
  padding: 2rem;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-sidebar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.link {
  display: flex;
  gap: 30px;
  font-size: var(--font-medium);
  color: var(--white);
  font-weight: bold;
  align-items: center;
}
.exit {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: bold;
  gap: 30px;
  color: var(--white);
}
.content {
  padding: 2rem;
  flex: 5;
}
.content h1{
  font-size: var(--font-large);
  font-weight: bold;
}
.content p{
  text-align: justify;
  margin: 20px;
}